{% extends "UWFX/layout.html" %} {% block title %} Register Club {% endblock %} 
{% block content %}
<h3>Register Club</h3>
<form method="post" class="form-group">
    {% csrf_token %} 
    {{clubForm}}
    {{repForm}}
    <button type="submit" class="btn btn-success">Register Club</button>
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}